html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

header {
    background-color: green;
    color: #FF5F00;
    text-align: center;
}

.citygrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

.citycard {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 5%;
    margin: 0;
    box-shadow: 0 0 5px 0 #ccc, 5px 5px 5px #ccc;
}

.cityimage {
    grid-row-start: 1;
    grid-row-end: 4;
}

.cityname {
    grid-row: 4;
}

img {
    width: 60%;
    height: auto;
}