html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #AFAFAF;
    color: #FF5F00;
    text-align: center
}

nav a {
    background-color: #0082D1;
    color: white
}

thead {
    background-color: #76B900;
    color: white
}

